.buildings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &__building {
    width: 434px;
    height: 220px;
    background-color: #fbfbfb;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 15px auto;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;

    span {
      font-weight: 600;
      position: relative;
      top: 40%;
      cursor: default;
      font-size: 30px;
    }

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transform: scale(1.015);
    }
  }
}
